* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg {
  height: 100vh;
  background: url('https://picsum.photos/1600/900') no-repeat center / cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 20px 60px;
  transition: background-color 0.3s, color 0.3s, padding 0.3s;
}

header.sticky {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0 60px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header ul a {
  display: block;
  padding: 20px 40px;
  text-transform: capitalize;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.container h1 {
  margin: 3rem 0;
  text-align: center;
}
